div#header {
    background-color: #35478C;
    height: 175px;
}

div#container {
    background-color: #ADD5F7;
    height: 900px;
}

div#form-container {
    background-color: #FFFFFF;
    float: right;
    height: 900px;
    text-align: center;
    width: 780px;
}

div#form-container > form > div {
    margin: 32px;
    margin-top: 48px;
    margin-bottom: 48px;
}