div#create-place-container {
    height: 500px;
    text-align: center;
}

form#create-place-form {
    margin-top: 300px;
}

form#create-place-form > div >  input[type='text'] {
    border: 0px;
    border-bottom: 2px solid #4E7AC7;
    font-size: 20pt;
    margin: 24px;
    padding: 16px;
}

form#create-place-form > div >  input[type='button'], input[type='submit'] {
    background-color: #4E7AC7;
    color: white;
    border: 0px;
    font-size: 20pt;
    padding: 16px;
}

form#create-place-form > div > input[name='device-code'] {
    width: 1000px;
}

form#create-place-form > div > input#search-device-code-button {
    width: 200px;
}

form#create-place-form > div > input#cancel-search-device-code-button {
    margin-left: 22px;
    margin-top: 48px;
    width: 1270px;
}

form#create-place-form > div > input[name='name'], input[name='description'] {
    width: 1400px;
}

form#create-place-form > div > input#create-place-button {
    margin-top: 48px;
    width: 1440px;
}