div#places-container {
    background-color: #ADD5F7;
    text-align: center;
}

div.place-container {
    width: 450px;
    height: 400px;
    margin: 16px;
    margin-top: 128px;
    margin-bottom: 128px; 
    background-color: #FFFFFF;
    display: inline-block;
}

div.place-info {
    text-align: left;
    margin-top: 312px;
    margin-bottom: 0px;
}

div.place-info > p {
    font-size: 15pt;
    margin-left: 16px;
}

div.place-act-buttons {
    margin-left: 4px;
    margin-top: 140px;
    text-align: center;
}

div.place-act-buttons > input[type='button'] {
    background-color: #4E7AC7;
    border: 1px solid #95989A;
    color: #FFFFFF;
    font-size: 15pt;
    margin: 4px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 8px;
}

div.place-act-buttons > input.edit-button, input.delete-button {
    width: 206px;
}

div.place-act-buttons > input.show-detail-button {
    width: 425px;
}

input#move-create-place-button {
    background-color: #4E7AC7;
    border: 0px;
    color: #FFFFFF; 
    font-size: 20pt;
    margin-bottom: 125px;
    padding: 16px;
    width: 500px;
}