div#rentals-container {
    background-color: #7FB2F0;
    text-align: center;
}

div.rental-container {
    width: 600px;
    height: 350px;
    margin: 16px;
    margin-top: 128px;
    margin-bottom: 128px;
    background-color: #FFFFFF;
    display: inline-block;
}

div.rental-info {
    margin-top: 185px;
    text-align: left;
}

div.rental-info > p {
    font-size: 18pt;
    margin-left: 16px;
}

div.rental-act-buttons {
    margin-right: 12px;
    margin-top: 125px;
    text-align: center;
}

div.rental-act-buttons > input[type='button'] {
    background-color: #4E7AC7;
    border: 1px solid #95989A;
    color: #FFFFFF;
    font-size: 18pt;
    margin: 4px;
    margin-top: 8px;
    margin-bottom: 8px; 
    padding: 8px;
} 

div.rental-act-buttons > input.accept-button, input.refuse-button {
    width: 260px;
}

div.rental-act-buttons > input.show-detail-button {
    width: 538px;
}