form#login-form {
    margin-top: 250px;
}

form#login-form > h1 {
    color: #95989A;
    font-size: 30pt;
    font-weight: normal !important;
    float: left;
    margin-left: 32px;
}

form#login-form > div > input[name='email'] {
    width: 700px;
    font-size: 20pt;
    padding: 16px;
    border: 0px;
    border-bottom: 2px solid #4E7AC7;
}

form#login-form > div > input[name='password'] {
    width: 700px;
    font-size: 20pt;
    padding: 16px;
    border: 0px;
    border-bottom: 2px solid #4E7AC7;
}

form#login-form > div > input#login-button {
    width: 735px;
    font-size: 18pt;
    padding: 16px;
    border: 1px solid #95989A;
    background-color: #35478C;
    color: #FFFFFF;
}

a#join-link {
    font-size: 17.5pt;
    color: #4E7AC7;
    text-decoration: none;
}

a#join-link:hover {
    font-size: 17.5pt;
    color: #35478C;
    text-decoration: none;
}